<html>

<head>
    {{>header}}
</head>

<body>
    {{>nav}}
    <h1 class="text-center">About</h1>
    <p class="text-center">This is a small and independent restaurant that was recently founded. It 
    <br> uses fresh local produce to create its variety dishes within its menus that are constantly changing 
    <br> and improving. This restaurant was founded in Scotland and offers a competitve variety of dishes.</p>
</body>

</html>