<html>

<head>
    {{>header}}
</head>

<body>
    {{>nav}}
    <h1 class="text-center">Dinner Menu</h1>
    <h2 id="dishType" class="text-center">Starters</h2>
    {{#starter}}
        <div class="card text-center">
        <div class="card-body">
            <h4 class="card-title"><a href="/dish/{{name}}">{{name}}</a></h4>
            <p class="card-text">
                Ingredients: {{ingredients}}
            </p>
        </div>
    </div>
    {{/starter}}
    {{^starter}}
    <p> No dishes </p>
    {{/starter}}
    <h2 class="text-center">Main Courses</h2>
    {{#main}}
        <div class="card">
        <div class="card-body">
            <h4 class="card-title"><a href="/dish/{{name}}">{{name}}</a></h4>
            <p class="card-text">
                Ingredients: {{ingredients}}
            </p>
        </div>
    </div>
    {{/main}}
    {{^main}}
    <p> No dishes </p>
    {{/main}}
    <h2 class="text-center">Desserts</h2>
    <h2 class="text-center">Cold Drinks</h2>
    <h2 class="text-center">Warm Drinks</h2>
</body>

</html>