<html>

<head>
    {{>header}}
</head>

<body>
    {{>nav}}
    <h1>Dinner Menu</h1>
    <h2>Starters</h2>
    {{#dishes}}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><a href="/dish/{{id}}">{{name}}</a></h4>
            <p class="card-text">
                Ingredients: {{ingredients}}
            </p>
        </div>
    </div>
    {{/dishes}}
    <h2>Main Courses</h2>
    <h2>Desserts</h2>
    <h2>Cold Drinks</h2>
    <h2>Warm Drinks</h2>
</body>

</html>