<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<script src="https://kit.fontawesome.com/e24feaa6cb.js" crossorigin="anonymous"></script>