<html>

<head>
    {{>header}}
</head>

<body>
    {{>nav}}
    <h1 class="text-center">Home</h1>
    <h1 class="text-center">About the Restaurant</h1>
    <h1 class="text-center">Featured Dish</h1>
</body>

</html>