<html>

<head>
    {{>header}}
</head>

<body>
    {{>nav}}
    <h1 class="text-center">Lunch Menu</h1>
    <h2 id="dishType" class="text-center">Starters</h2>
    {{#types.starter}}
    <div class="d-flex justify-content-center">
        <div class="card mb-3" style="width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/{{image}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        {{#staff}}
                        <h5 class="card-title"><a href="/dishdetails/{{_id}}">{{name}}</a></h5>
                        {{/staff}}
                        {{^staff}}
                        <h5 class="card-title"><a href="/dish/{{_id}}">{{name}}</a></h5>
                        {{/staff}}
                        <p class="card-text">
                            Ingredients: {{ingredients}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/types.starter}}
    {{^types.starter}}
    <p class="text-center"> No dishes </p>
    {{/types.starter}}
    <h2 class="text-center">Main Courses</h2>
    {{#types.main}}
    <div class="d-flex justify-content-center">
        <div class="card mb-3" style="width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/{{image}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        {{#staff}}
                        <h5 class="card-title"><a href="/dishdetails/{{_id}}">{{name}}</a></h5>
                        {{/staff}}
                        {{^staff}}
                        <h5 class="card-title"><a href="/dish/{{_id}}">{{name}}</a></h5>
                        {{/staff}}
                        <p class="card-text">
                            Ingredients: {{ingredients}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/types.main}}
    {{^types.main}}
    <p class="text-center"> No dishes </p>
    {{/types.main}}
    <h2 class="text-center">Desserts</h2>
    {{#types.dessert}}
    <div class="d-flex justify-content-center">
        <div class="card mb-3" style="width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/{{image}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        {{#staff}}
                        <h5 class="card-title"><a href="/dishdetails/{{_id}}">{{name}}</a></h5>
                        {{/staff}}
                        {{^staff}}
                        <h5 class="card-title"><a href="/dish/{{_id}}">{{name}}</a></h5>
                        {{/staff}}
                        <p class="card-text">
                            Ingredients: {{ingredients}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/types.dessert}}
    {{^types.dessert}}
    <p class="text-center"> No dishes </p>
    {{/types.dessert}}
    <h2 class="text-center">Cold Drinks</h2>
    {{#types.coldDrink}}
    <div class="d-flex justify-content-center">
        <div class="card mb-3" style="width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/{{image}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        {{#staff}}
                        <h5 class="card-title"><a href="/dishdetails/{{_id}}">{{name}}</a></h5>
                        {{/staff}}
                        {{^staff}}
                        <h5 class="card-title"><a href="/dish/{{_id}}">{{name}}</a></h5>
                        {{/staff}}
                        <p class="card-text">
                            Ingredients: {{ingredients}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/types.coldDrink}}
    {{^types.coldDrink}}
    <p class="text-center"> No dishes </p>
    {{/types.coldDrink}}
    <h2 class="text-center">Warm Drinks</h2>
    {{#types.warmDrink}}
    <div class="d-flex justify-content-center">
        <div class="card mb-3" style="width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/{{image}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        {{#staff}}
                        <h5 class="card-title"><a href="/dishdetails/{{_id}}">{{name}}</a></h5>
                        {{/staff}}
                        {{^staff}}
                        <h5 class="card-title"><a href="/dish/{{_id}}">{{name}}</a></h5>
                        {{/staff}}
                        <p class="card-text">
                            Ingredients: {{ingredients}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> {{/types.warmDrink}}
    {{^types.warmDrink}}
    <p class="text-center"> No dishes </p>
    {{/types.warmDrink}}
</body>

</html>