<html>

<head>
    {{>header}}
</head>

<body>
    {{>nav}}
    {{#dishes}}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">{{name}}</h4>
            <div class="col-md-4">
                <img src="../images/{{image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <p class="card-text">
                Ingredients: {{ingredients}}
            </p>
            <p class="card-text">
                Allergy: {{allergyInfo}}
            </p>
            <p class="card-text">
                Dish Type: {{dishType}}
            </p>
            <p class="card-text">
                Price: £{{price}}
            </p>
            <p class="card-text">
                Description: {{description}}
            </p>
            <p class="card-text">
                Menu: {{menu}}
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-md-center">
        <div class="col-md-1">
            <a class="btn btn-success" href="/dish/edit/{{_id}}">Edit {{name}}</a>
        </div>
        <div class="col-md-1">
            <a class="btn btn-success" href="/dish/delete/{{_id}}">Delete {{name}}</a>
        </div>
    </div>
    {{/dishes}}
</body>

</html>