<html>

<head>
    {{>header}}
</head>

<body>
    {{>nav}}
    <h1 class="text-center">Error: 404 Not Found.</h1>
    {{^staff}}
    <div class="d-flex justify-content-center">
        <div class="col-md-1">
            <a class="btn btn-success" href="/">Go to Home</a>
        </div>
    </div>
    {{/staff}}
    {{#staff}}
    <div class="d-flex justify-content-center">
        <div class="col-md-1">
            <a class="btn btn-success" href="/home">Go to Home</a>
        </div>
    </div>
    {{/staff}}
</body>

</html>