<html>

<head>
    {{>header}}
</head>

<body>
    {{>nav}}
    <h1 class="text-center">Add New Dish</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST" action="/add" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="formlabel">
                            Menu Item Name
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Menu Item Name">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="ingredients" class="formlabel">
                            Menu Item Ingredients
                        </label>
                        <div class="col-sm-10">
                            <input type="ingredients" class="form-control" id="ingredients" name="ingredients"
                                placeholder="Menu Item Ingredients">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="formlabel">
                            Menu Item Description
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name="description"
                                placeholder="Menu Item Description">
                        </div>
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="dishType" class="formlabel">
                            Dish Type
                        </label>
                        <select class="form-select" id="dishType" name="dishType">
                            <option selected>Dish Type</option>
                            <option>Starter</option>
                            <option>Main Course</option>
                            <option>Dessert</option>
                            <option>Cold Drink</option>
                            <option>Warm Drink</option>
                        </select>
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="image" class="formlabel">
                            Image of Menu Item
                        </label>
                        <input type="file" class="form-control" formenctype="multipart/form-data" id="formFileSm"
                            name="image">
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="menu" class="formlabel">
                            Dinner or Lunch Menu?
                        </label>
                        <select class="form-select" id="menu" name="menu">
                            <option selected>Dinner or Lunch Menu?</option>
                            <option>Dinner</option>
                            <option>Lunch</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="allergyInfo" class="formlabel">
                            Menu Item Allergy Information
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="allergyInfo" name="allergyInfo"
                                placeholder="Menu Item Allergy Information">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="formlabel">
                            Menu Item Price
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="price" name="price"
                                placeholder="Menu Item Price">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="featured" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Featured Dish?
                            </label>
                        </div>
                    </div>

                    <div class="mb-3 d-flex justify-content-center">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{>validation}}
</body>

</html>