<html>

<head>
    {{>header}}
</head>

<body>
    {{>nav}}
    <h1 class="text-center">Edit Lunch Menu</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Dish Name</th>
                    <th scope="col">Edit Dish</th>
                    <th scope="col">Delete Dish</th>
                </tr>
            </thead>
            {{#dishes}}
            <tbody>
                <tr>
                    <th scope="row">{{name}}</th>
                    <td><a href="/dish/edit/{{_id}}">Edit</a></td>
                    <td><a href="/dish/delete/{{_id}}">Delete</a></td>
                </tr>
            </tbody>
            {{/dishes}}
        </table>
    </div>
</body>

</html>