<html>

<head>
    {{>header}}
</head>

<body>
    {{>nav}}
    <h1 class="text-center">Edit Dish</h1>
    {{#dishes}}
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST" action="/dish/edit/{{_id}}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="formlabel">
                            Menu Item Name
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="{{name}}" value="{{name}}">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="ingredients" class="formlabel">
                            Menu Item Ingredients
                        </label>
                        <div class="col-sm-10">
                            <input type="ingredients" class="form-control" id="ingredients" name="ingredients"
                                placeholder="{{ingredients}}" value="{{ingredients}}">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="formlabel">
                            Menu Item Description
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name="description"
                                placeholder="{{description}}" value="{{description}}">
                        </div>
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="dishType" class="formlabel">
                            Dish Type
                        </label>
                        <select class="form-select" id="dishType" name="dishType">
                            <option selected>{{dishType}}</option>
                            <option>Starter</option>
                            <option>Main Course</option>
                            <option>Dessert</option>
                            <option>Cold Drink</option>
                            <option>Warm Drink</option>
                        </select>
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="image" class="formlabel">
                            Image of Menu Item
                        </label>
                        <input type="file" accept="image/jpeg" class="form-control" formenctype="multipart/form-data" id="formFileSm"
                            name="image" onchange="getFileNameWithExt(event)">
                        <input readonly type="text" class="form-control" name="output" id="output" value="{{image}}">
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="menu" class="formlabel">
                            Dinner or Lunch Menu?
                        </label>
                        <select class="form-select" id="menu" name="menu">
                            <option selected>{{menu}}</option>
                            <option>Dinner</option>
                            <option>Lunch</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="allergyInfo" class="formlabel">
                            Menu Item Allergy Information
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="allergyInfo" name="allergyInfo"
                                placeholder="{{allergyInfo}}" value="{{allergyInfo}}">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="formlabel">
                            Menu Item Price
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="price" name="price"
                                placeholder="{{price}}" value="{{price}}">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="chefSpecial" id="chefSpecial" value="{{chefSpecial}}">
                            <label class="form-check-label" for="flexCheckDefault">
                                Chef Special?
                            </label>
                        </div>
                    </div>
                    <div class="mb-3 d-flex justify-content-center">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{/dishes}}
    {{>validation}}

    <script>
        function getFileNameWithExt(event) {
        if (!event || !event.target || !event.target.files || event.target.files.length === 0) {
            return;
        }

        const name = event.target.files[0].name;
        const lastDot = name.lastIndexOf('.');

        const fileName = name.substring(0, lastDot);
        const ext = name.substring(lastDot + 1);

        output.value = fileName + "." + ext;
        extension.value = ext;
        
        }

        function changeCheckBox() {
            var checkBox = document.getElementById("chefSpecial");
            if(checkBox.value == "true") {
                checkBox.checked = true;
            } else {
                checkBox.checked = false;
            }
        }

        window.onload = changeCheckBox();

    </script>
</body>

</html>