<html>

<head>
    {{>header}}
</head>

<body class="container">
    <h1 class="text-center">Staff Login</h1>
    <form method="POST" action="/login" class="needs-validation" novalidate>
        <div class="form-group d-flex justify-content-center">
            <label for="email" class="col-sm-1 col-formlabel">
                Email
            </label>
            <div class="col-sm-5">
                <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
            </div>
            <div class="invalid-feedback">
                Password is required.
            </div>
        </div>
        <br>
        <div class="form-group d-flex justify-content-center">
            <label for="password" class="col-sm-1 col-formlabel">
                Password
            </label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="password" name="password" placeholder="password"
                    required>
            </div>
            <div class="invalid-feedback">
                Password is required.
            </div>
        </div>
        <div class="form-group d-flex justify-content-center">
            <input type="submit" class="btn btn-primary" value="Login">
        </div>
    </form>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

</html>